.nav-main{
  background: $cl-bg-nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 50px;

  ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
      li{
        a{
          display: block;
          padding: 0px 15px;
          color: white;
          text-decoration: none;
            &:hover{
              text-decoration:underline;
            }
        }
    }
  }

  .member{
    margin-left: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    a{
      text-decoration: none;
      color: white;
      margin: 0px 15px;
      &:hover{
        text-decoration:underline;
      }
    }

  }
}
