* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black; }

nav {
  background: #007bff;
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 50px;
  justify-content: space-between; }
  nav > .logo {
    color: yellow;
    font-size: 40px;
    font-family: fantasy;
    text-decoration: none; }
  nav ul {
    display: flex;
    margin-right: 30%; }
    nav ul li a {
      display: block;
      padding: 0px 15px;
      color: white;
      text-decoration: none; }
      nav ul li a:hover {
        background: red; }
  nav .member {
    display: flex; }
    nav .member a {
      text-decoration: none;
      color: white;
      margin: 0px 5px; }
