* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black; }

.banner img {
  margin-top: 10px;
  height: 266px;
  width: 100%; }

.nav-main {
  background: #007bff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 50px; }
  .nav-main ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0; }
    .nav-main ul li a {
      display: block;
      padding: 0px 15px;
      color: white;
      text-decoration: none; }
      .nav-main ul li a:hover {
        text-decoration: underline; }
  .nav-main .member {
    margin-left: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap; }
    .nav-main .member a {
      text-decoration: none;
      color: white;
      margin: 0px 15px; }
      .nav-main .member a:hover {
        text-decoration: underline; }

div.content {
  border: 1px solid #007bff; }

ul.list-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around; }
  ul.list-products li {
    flex-basis: 22%;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 0px 5px; }
    ul.list-products li div.item {
      border: 1px solid #007bff;
      border-radius: 10px;
      text-align: center; }
      ul.list-products li div.item a {
        text-decoration: none; }
        ul.list-products li div.item a .name-product {
          color: #dc3545;
          margin-top: 5px;
          background: #f9f29f;
          margin-bottom: 0px; }
      ul.list-products li div.item .info {
        background-color: #007bff;
        border: 1px solid #007bff;
        border-radius: 0 0 10px 10px; }
        ul.list-products li div.item .info p {
          margin-bottom: 0px;
          color: white; }
    ul.list-products li img {
      max-width: 100%;
      border-radius: 10px;
      margin-top: 5px; }

footer {
  background: #007bff;
  margin-bottom: 20px; }
  footer p {
    color: white;
    margin-left: 20px; }
  footer a {
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px; }
