footer{
  background: $cl-bg;
  margin-bottom: 20px;
  p{
    color: white;
    margin-left: 20px;
  }
  a{
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
